body {
    background-color: black;
    color: white;
}

.wholeTable{
}
.tableRow{
    width: 80%;
    max-width: 25em;
    padding-left: 2em;
    padding-right: 2em;
}
.tableCell{
}
.tableRow .tableCell {
    border-width: 0.2em;
    border-color: purple;
    border-style: solid;
}

#unicoedTranslator {
    margin: 1em;
    background-color: gray;
}
#unicoedTitle {
	padding: 2em;
}
#unicoedInputRow {

}
#unicoedOptionsRow {
}
#unicoedOutputRow {
	padding-top: 5em;
	padding-bottom: 5em;
    word-wrap: break-word;
}

#unicoedInputArea {
    width: 100%;
}
#unicoedOptions {
}
#unicoedOutput { 
    width:100%;
}